<div class="row">
  <div class="col-sm-12 col-lg-6 m-auto">
    <form style="width:100%;display:block;margin:auto" *ngIf="!login">
      <h2 style="text-align:center">Login Form</h2>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="uname"
          [(ngModel)]="uname"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          [(ngModel)]="psw"
          required
        />

        <button type="submit" (click)="onLogin()">Login</button>
      </div>
    </form>
  </div>
</div>
